.button_primary{
    background-color: blue;
    padding: 10px 15px 10px 15px;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.button_secondary{
    background-color:red;
    padding: 10px 15px 10px 15px;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}